body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #06283D
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-grid-container{
  padding : 3rem 5rem 3rem;
  margin-top: 3rem;
}
.card-grid {
  display: grid;
  gap : 2rem;
  row-gap: 3rem;
  justify-content: center;
  align-items:flex-start;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  
}

@media screen and (max-width: 686px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  }
}
.card {
  background-color: aliceblue;
  cursor:pointer;
  border-radius: 1rem;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba (2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  transition: all 400ms;
  /* overflow: hidden; */
}


.card:hover{
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35rem 1.175rem, rgba (2, 8, 20, 0.08) 0px 0.175rem 0.5rem;
  transform: translateY(-10px);
}

.card-title-div{
  display:flex;
  flex-direction: row;

}

.card-top-logo{
  background-color: #61A8E7;
  border-radius: 1rem;
  /* margin-right: 1rem; */
  width: 100px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -2rem;
  left: -1rem;
}
.date-details {
  position: absolute;
  /* align-self: center;
  */
  /* margin-left: 150px; */

  /*margin-right: 10px; */
  /* display: flex;
  flex-direction: row; */
  /* top:15px; */

  font-size: 15px;
  /* text-align: center; */
}

.date-details span{
  position: absolute;
  margin-left: 1px;
  font-size: 1.5rem;
}



.card-main{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px
}

.card-content-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.card-dropdown-button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.card-dropdown-button .notopen{
  transform: rotate(0deg);
  transition: all 400ms;
}
.card-dropdown-button .open{
  transform: rotate(180deg);
  transition: all 400ms;
}
.celcius-span{
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather-details{
  text-align: center;
}
.weather-details .temperature .description{
  color:  #06283D;
}
.weather-details .temperature{
  margin:0;
  font-size: 40px;
  font-weight: bold;
}
.weather-details .description{
  font-size: 20px;
}

.card-main-test{
  height: 0px;
  overflow: hidden;
  transition: height 400ms;
}

.card-main-test.open{
  height: 100px;
}

.some-component-test{
  max-width: 100%;
  height: 80px;
  background-color : white;
}